.user_detail {
    max-width: 1236px;
    display: block;
    width: auto;
    margin: 14px auto 2px auto;
    height: 142px;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.user_detail img {
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 0 0 6px #000;
}

.user_detail h1 {
    font-size: 24px;
    font-size: 2.4rem;
    color: #000;
    vertical-align: top;
    display: inline-block;
    margin: 12px 3px 3px;
}






