:root {
    /* Colors */
    --red: #970000;
    --trans-white: rgba(255, 255, 255, 0.1);
    --background: #313131;
    --link: #222;
    --link-hover: #000;
    --link-active: #000;
    --link-focus: #000;
    --link-visited: #000;
    --header-bg: #222;
    --header-color: #fff;


    /* Sizes */
    --header-height: 55px;



    /* Fonts */
    @import url(https://fonts.googleapis.com/css?family=Open+Sans&text=PhotoBook);
    @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);

    --sans: "Source Sans Pro", sans-serif;
    --photobook: "OpenSans", var(--sans);
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    background-color: var(--background);
    font-family: var(--sans);
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.5em;
}

/* Paragraphs */
p {
    margin: 0.5em 0;
}

/* Emphasis */
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}


/* Links */
a {
    color: var(--link);
    text-decoration: underline;
}
a:hover {
    color: var(--link-hover);
}
a:focus {
    color: var(--link-focus);
}
a:active {
    color: var(--link-active);
}
a:visited {
    color: var(--link-visited);
}
