
@import url(https://fonts.googleapis.com/css?family=Open+Sans&text=PinPict);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);


:root {
    /* Colors */
    --red: #970000;
    --trans-red: rgba(150, 0, 0, 0.08);
    --trans-white: rgba(255, 255, 255, 0.1);
    --background: #313131;
    --link: #222;
    --link-hover: #000;
    --link-active: #000;
    --link-focus: #000;
    --link-visited: #000;
    --header-bg: #222;
    --header-color: #fff;
    --input-bg: #585858;
    --input-border: #313131;
    --input-color: #000;
    --article-bg: #666;
    --article-border: #222;
    --title-color: #222;


    /* Sizes */
    --header-height: 55px;



    /* Fonts */
    --sans: "Source Sans Pro", sans-serif;
    --pinpict: "OpenSans", var(--sans);
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    background-color: var(--background);
    font-family: var(--sans);
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1em;
}

/* Paragraphs */
p {
    margin: 0.5em 0;
}

/* Emphasis */
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}


/* Links */
a {
    color: var(--link);
    text-decoration: underline;
}
a:hover {
    color: var(--link-hover);
}
a:focus {
    color: var(--link-focus);
}
a:active {
    color: var(--link-active);
}
a:visited {
    color: var(--link-visited);
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.8rem;
    color: var(--title-color);
}

h1 {
    font-size: 24px;
    font-size: 2.4rem;
}

h2 {
    font-size: 22px;
    font-size: 2.2rem;
}

h3 {
    font-size: 20px;
    font-size: 2rem;
}

h4 {
    font-size: 18px;
    font-size: 1.8rem;
}

h5 {
    font-size: 16px;
    font-size: 1.6rem;
}

article {
    background: var(--article-bg);
    border: solid 1px var(--article-border);
    box-shadow: 0 0 8px #000;
    border-radius: 4px;
    padding: 20px 0;
}


hr {
    margin: 0 15px 5px 10px;
    height: 0px;
    border: none;
    border-top: 1px solid #313131;
    border-bottom: 1px solid #7a7a7a;
}

.accessibility_text {
    position: absolute;
    left: -200000px;
    color: transparent;
    height: 0;
    width: 0;
    display: block;
}
