.added {
    width: 736px;
    margin: 25px auto 14px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}

.added a {
    display: block;
    text-decoration: none;
}

.added a:hover img, .added a:focus img {
    box-shadow: 0 0 10px #000;
}

.added img {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 15px 0 0;
    border-radius: 2px;
    box-shadow: 0 0 6px #000;
}

.added p {
    margin: 0 15px 0 0;
    line-height: 27px;
    line-height: 2.7rem;
}

.added strong {
    font-size: 18px;
    font-size: 1.8rem;
}

.date {
    color: #222;
}

