.pin_detail {
    padding-bottom: 50px;
}

.pin {
    width: 736px;
    margin: 50px auto 14px;
    padding: 0;
    position: relative;
}

.pin header {
    height: 60px;
    padding: 0 8px;
    border-bottom: 1px solid #313131;
}

.pin footer {
    border-top: 1px solid #505050;
}

/* rater */
.pin footer ul {
    position: absolute;
    right: 15px;
    bottom: 0px;
    padding: 10px 0;
}

.pin footer a {
    text-decoration: none;
    display: block;
    height: 100%;
    padding: 15px 25px;
    border-radius: 0 0 4px 4px;
}

.pin footer a:hover, .pin footer a:active, .pin footer a:focus {
    color: #222;
    background-color: #585858;
}

.pin footer a span {
    color: #000;
    font-weight: bold;
}

.pin img {
    display: block;
    max-width: 726px;
    margin: 0 auto;
}

.img_wrapper {
    background-color: #474747;
    text-align: center;
    border-bottom: 1px solid #313131;
    padding: 8px 0;
}

.description {
    padding: 18px 25px;
    word-wrap: break-word;
}

a.back_to_board {
    display: block;
    position: fixed;
    top: 80px;
    right: 0;
    height: 80px;
    width: 80px;
    box-shadow: 0 0 8px #222;
    border: 1px solid #222;
    background-color: #404040;
    border-radius: 4px 0 0 4px;
}

a.back_to_board:hover, a.back_to_board:focus, a.back_to_board:active {
    background-color: #585858;
}

a.back_to_board:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 25px solid #222;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    right: 15px;
    top: 50%;
    margin-top: -18px;
}

a.back_to_board:after {
    content: "";
    display: block;
    height: 10px;
    width: 28px;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 30px;
    background-color: #222;
}

.prev_pin, .next_pin {
    display: block;
    position: absolute;
    width: 55px;
    top: 0;
    bottom: 0;
}

.prev_pin div, .next_pin div {
    visibility: hidden;
    width: 45px;
    position: absolute;
    height: 80px;
    width: 45px;
    top: 40%;
    border-radius: 4px;
    background-color: #404040;
    box-shadow: 0 0 8px #222;
    border: 1px solid #222;
}

.prev_pin:hover div, .prev_pin:focus div, .prev_pin:active div {
    visibility: visible;
    left: 0;
}

.next_pin:hover div, .next_pin:focus div, .next_pin:active div {
    visibility: visible;
    right: 0;
}

.prev_pin {
    left: -55px;
}

.next_pin {
    right: -55px;
}

.prev_pin div:before, .next_pin div:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    margin-top: -18px;
}

.prev_pin div:before {
    border-right: 20px solid #222;
    left: 10px;
}

.next_pin div:before {
    border-left: 20px solid #222;
    right: 10px;
}

